article {
    display: grid;
    grid-template-areas:
        'nav nav'
        'box menu1'
        'box menu2';
}

.img1,
.img2,
.img3 {
    display: flex;
    margin: 20px;
    width: 500px;
    align-items: center;
}

.img1>img,
.img2>img,
.img3>img {
    max-width: 240px;
    max-height: 160px;
}

.img1>*,
.img2>*,
.img3>* {
    padding: 5px;
}

.news-box {
    grid-area: box;
    margin-left: 10%;
}

.menu-box {
    background-color: #00b7ff;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 20px;
}

.menu1 {
    grid-area: menu1;
    margin: 10px;
    height: 150px;
}

.menu-box>*>*>* {
    padding-bottom: 5px;
}

.menu2 {
    grid-area: menu2;
    margin: 20px;
    height: 350px;
}

.menu-box span {
    font-size: 18px;
}

.menu-box ul {
    padding-top: 20px;
}

.menu1 li {
    list-style-type: circle;
    color: white;
}

.menu2 p {
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
}